{% extends 'base.html.twig' %}

{% block title %}Portfolio Quentin Gauny{% endblock %}

{% block body %}
  <html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Quentin Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>


  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">Quentin Gauny</a></h1>
        <div class="social-links mt-3 text-center">
          <!--     <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
               <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
          <a href="https://www.linkedin.com/in/quentin-gauny-1513a5203/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>À Propos</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Expériences</span></a></li>

          <!--        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Quentin Gauny</h1>
      <p>compétences : <span class="typed" data-typed-items="DevOps, CyberSécurité, Gestion Serveur, Développeur Web"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <div id="flash-message" style="display: none;"></div>


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>À Propos</h2>
          <p>Passionné depuis mon plus jeune âge par ce domaine, j’ai commencé à apprendre les bases du réseau (modèle OSI, …). J’ai lu des articles, et suivi des vidéos sur internet pour continuer d’apprendre dans ce domaine. Pour continuer, j’ai appris à faire du développement réseau, en C, C++, Java, et les langages du web.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Étudiant</h3>
            <p class="fst-italic">
              Etudiant en 3ème année de BUT Informatique
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Date de naissance:</strong> <span>21 Septembre 2003</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Téléphone:</strong> <span>+33 6 73 79 64 98</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Ville:</strong> <span>Castries, France</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Diplome:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>quentin.gauny@etu.umontpellier.fr</span></li>
                </ul>
              </div>
            </div>
            <p>
              Dans le souci de toujours progresser, je me suis formé en autodidacte dans différents domaines touchant la cybersécurité, tel que le l’analyse d’une machine, le développement de logiciel malveillant, mise en place d’un système de phishing.
              J’ai acquis dans mon cursus actuel plusieurs compétences clés, comme le travail en équipe via les méthodes agiles SCRUM, et les bases de la cryptographie avec « RSA » et « El Gamal », utilisé lors d’un projet qui consiste à créer une application de vote chiffrée.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Mes Objectifs</h2>
          <p>Après mon BUT Informatique, je souhaiterais intégrer l'école du CNAM à Montpellier en alternance, afin de me spécialiser et obtenir un MASTER en CyberSécurité.</p>
        </div>
      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Compétences</h2>
          <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">BASH <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Cyber Sécurité <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <!--     <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tous les projets</li>
              <li data-filter=".filter-security">Sécurité</li>
              <li data-filter=".filter-web">Symfony & VueJS</li>
              <li data-filter=".filter-system">Système et Réseau</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">



          <div class="col-lg-4 col-md-6 portfolio-item filter-security">
            <a href="/wazuh">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/wazuh.png" class="img-fluid" alt="">
              </div>
            </a>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <a href="/web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/symfony_vuejs.png" class="img-fluid" alt="">
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-system">
            <a href="/backup-system">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/backup.png" class="img-fluid" alt="">
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-system">
            <a href="/replication-postgresql">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/postgresql-replication.png" class="img-fluid" alt="">
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-system">
            <a href="/replication-mariadb">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/mariadb-replication.png" class="img-fluid" alt="">
              </div>
            </a>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Expérience</h2>
          <!--     <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">

            <h3 class="resume-title">Formation</h3>
            <div class="resume-item">
              <h4>BUT Informatique option DACS (3ème année)</h4>
              <h5>2021 - maintenant</h5>
              <p><em>IUT Montpellier Sètes</em></p>
              <p>Le BUT informatique forme des professionnel·le·s qui participent à la conception, à la réalisation et à la mise en œuvre de systèmes informatiques. L'option DACS, choisi en seconde année, signifie "Déploiement d'Application Communiquantes et Sécurisées"</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor STI2D option SIN (mention très bien)</h4>
              <h5>2019 - 2021</h5>
              <p><em>Lycée Victor Hugo, Lunel, France</em></p>
              <p>Le bac STI2D est un bac généraliste qui se positionne comme une alternative au bac scientifique. Cette formation est basée sur un tronc commun scientifique et technologique. L'option SIN, choisie en Terminale, signifie "Science Informatique et Numérique" </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experience Professionnelle</h3>
            <div class="resume-item">
              <h4>Devops - Cybersécurité</h4>
              <h5> 4 Septembre 2023 - aujourd’hui</h5>
              <p><em>ALTERNANCE RepairSoft</em></p>
              <ul>
                <li>Responsable du bon fonctionnement des serveurs</li>
                <li>Amélioration et application d'une politique de sécurité stricte</li>
                <li>Responsable cybersécurité</li>
                <li>Migration d'un Progiciel Symfony5 vers Symfony6</li>
                <li>Développement PHP Symfony6, et VueJS</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Devops - Cybersécurité</h4>
              <h5> 3 Juillet 2023 - 4 aout 2023</h5>
              <p><em>CDD RepairSoft (Job d'été)</em></p>
              <ul>
                <li>Responsable du bon fonctionnement des serveurs</li>
                <li>Mise en place d'un système de "metrics" Grafana  </li>
                <li>Automatisation de plusieurs alertes en cas de disfonctionnement</li>
                <li>Mise en place d'une réplication de base en temps réel pour Mysql</li>
                <li>Développement PHP Symfony5, et VueJS</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Devops - Cybersécurité</h4>
              <h5>17 Avril 2023 - 30 Juillet 2023</h5>
              <p><em>Stage RepairSoft</em></p>
              <ul>
                <li>Responsable du bon fonctionnement des serveurs</li>
                <li>Installation et configuration d'un HIDS</li>
                <li>Mise en place de plusieurs loads balancers</li>
                <li>Mise en place d'une réplication de base de donnée en temps réel pour Postgresql</li>
                <li>Mise en place d'un système de backups des bases de données chaque soir stocké sur différents serveurs</li>
                <li>Gestion des comptes utilisateurs sur les serveurs</li>
                <li>Audit de sécurité d'une application web</li>
                <li>Application d'un cahier des charges strict sur la sécurité fourni par DARVA</li>
                <li>Formation aux équipes de développeurs sur les risques d'une injection sql / répertoires non protégés</li>
                <li>Développement PHP Symfony5, et VueJS</li>
                <li>Optimisation des performances PHP, Apache, Mysql, et Postgresql avec une configuration sur mesure</li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        {% for message in app.flashes('success') %}
          <div class="alert alert-success">
            {{ message }}
          </div>
        {% endfor %}

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localisation:</h4>
                <p>Castries, 34160, France</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>quentin.gauny@etu.umontpellier.fr</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Téléphone:</h4>
                <p>+33 6 73 79 64 98</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46159.39817924853!2d3.944065460311681!3d43.69054536502335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a6d284a8ccb5%3A0xdd7d12c0031a3cc5!2s34160%20Castries!5e0!3m2!1sfr!2sfr!4v1693569237295!5m2!1sfr!2sfr" frameborder="0" style="border:0; width: 100%; height: 290px; display: none" allowfullscreen></iframe>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46159.39817924853!2d3.944065460311681!3d43.69054536502335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6a6d284a8ccb5%3A0xdd7d12c0031a3cc5!2s34160%20Castries!5e0!3m2!1sfr!2sfr!4v1693569237295!5m2!1sfr!2sfr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Nom - Prénom</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Sujet</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea id="message" class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Veuillez patienter</div>
                <div class="error-message"></div>
                <div class="sent-message">Votre message à bien été envoyé. Merci</div>
              </div>
              <div class="text-center"><button onclick="sendEmail()" type="submit">Envoyer le message</button></div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  </body>

  </html>
{% endblock %}